
$fontFamily: 'Quicksand', sans-serif;
$defaultColor: #cecece;
$defaultFontSize: 20px;
$defaultHeight: 50px;
body {

  .search-input {
    outline: none;
    font-family: $fontFamily;
    background-color: $defaultColor;
    border: none;
    height: $defaultHeight;
    color: #606060;
    padding-left: 10px;
    font-size: $defaultFontSize;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: 100%;
    transition-timing-function: ease-in;
    transition: transform 0.4s, visibility 0.4s;
  }
  .search-button {
    cursor: pointer;
    // position: absolute;
    height: 52px;
    outline: none;
    border: none;
    padding: 18px;
    background-color: #fd5c08;
    color: white;
    // left: 250px;
    &:hover {
      color: $defaultColor;
      transition: 0.3s linear;
      background-color: #fd5c08;
    }
  }
}
.mynav li{
   text-align: center;
   width: 62px;
    & a{
	height: 50px;
	&:not(first-child){
	background-color: #606060;
	&:hover {
		background-color: #fd5c08;
	}
	}
	}
}
.b-info{
	width: 186px;
}
.myheader{
	height: 85vh;
}
.mylogo{
	font: bold 100px/100px PT-Sans, sans-serif;
}
